
<nav class="sections-sidebar" id="sections-sidebar">
    <ul>
        <li>World</li>
        <li class="dropdown">San Francisco
            <ul>
                <li class="header1"> San Francisco</li>
                <li>Students</li>
                <li>Teaching Assistants</li>
                <li>Instructors</li>
                <li>Career Advisors</li>
                <li>Cats</li>
            </ul>
        </li>
        <li>New York</li>
        <li class="dropdown">Bootcamp Prep
            <ul>
                <li class="header1"> Bootcamp Prep</li>
                <li>Students</li>
                <li>Instructors</li>
                <li>Cats</li>
            </ul>
        </li>
        <li>Jumpstart</li>
        <li class="dropdown">Online
            <ul>
                <li class="header1"> Online</li>
                <li>Immersive</li>
                <li>Bootcamp Prep</li>
                <li>Cats</li>
            </ul>
        </li>
        <li>Marketing</li>
        <li class="dropdown">Sales
            <ul>
                <li class="header1">Sales</li>
                <li>Associates</li>
                <li>Analytics</li>
                <li>Cats</li>
            </ul>
        </li>
        <li>Talent Match</li>
        <li class="dropdown">Alumni
            <ul>
                <li class="header1">Alumni</li>
                <li>Students</li>
                <li>Companies</li>
                <li>Opinions</li>
                <li>Cats</li>
            </ul>
        </li>
    </ul>
</nav>

