.sections-nav {
    display: flex;
    justify-content: center;
}
.sections-nav ul{
    display: flex;
    padding: 10px 0;
}
.sections-nav li {
    font-family: sans-serif;
    cursor: pointer;
    margin: 0 9px;
}

.sections-nav a {
    text-transform: uppercase;
    font-size: 9px;
}

.sections-nav li:hover:not(:last-child){
    background-color: lightgray;
}